html {
  box-sizing: border-box;
}
.df {
  display: flex;
}
.df-col {
  display: flex;
  flex-direction: column;
}
.df-j-c {
  display: flex;
  justify-content: center;
}
.df-j-b {
  display: flex;
  justify-content: space-between;
}
.df-a-c {
  display: flex;
  align-items: center;
}
.df-c {
  justify-content: center;
  display: flex;
  align-items: center;
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.bg-gradient-animation {
  background-image: linear-gradient(#5187c4, #1c2f45);
  background-size: auto 200%;
  background-position: 0 100%;
  transition: background-position 0.5s;
}
.bg-gradient-animation:hover {
  background-position: 0 0;
}
.blurry-text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-first-uppercase {
  text-transform: capitalize;
}
.text-lowercase {
  text-transform: lowercase;
}
.unselect {
  user-select: none;
}
@keyframes load {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
.loading {
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  border-bottom: #aaa 1px solid;
  border-radius: 50%;
  animation: load 1.1s infinite linear;
  -webkit-animation: load 1.1s infinite linear;
  -moz-animation: load 1.1s infinite linear;
  -o-animation: load 1.1s infinite linear;
}
/*
移动端
*/
.super-scroll {
  -webkit-overflow-scrolling: touch;
}
